[submodule "lastools"]
	path = packages/surface_reconstruction/lib/LAStools
	url = https://github.com/LAStools/LAStools.git
[submodule "py3dtiles"]
	path = packages/py3dtiles
	url = https://gitlab.com/py3dtiles/py3dtiles
[submodule "3dTilesRendereerJS"]
	path = packages/3dTilesRendererJS
	url = https://github.com/NASA-AMMOS/3DTilesRendererJS
[submodule "packages/surface_reconstruction/lib/PoissonRecon"]
	path = packages/surface_reconstruction/lib/PoissonRecon
	url = https://github.com/mkazhdan/PoissonRecon.git
[submodule "packages/data_preparation/cameras/colmap/packages/data_preparation/cameras/colmap"]
	path = packages/data_preparation/cameras/colmap/packages/data_preparation/cameras/colmap
	url = https://github.com/colmap/colmap.git
